@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #05050c;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}
